.welcomeBox1{
  display: flex;
  width: 590px;
  height: 458px;
  margin: auto;
  margin-top: 240px;
  justify-content: space-evenly;
  box-shadow: 3px 3px 10px 8px  #e0dbdb;

  > * {
    flex-grow: 1;
    width: 0;
  }

  .side1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f62e54;
    color: white;
    padding-top: 70px;
    img{
      width: 70px;
      height: 45px;
    }
    div{
      margin-top: 30px;
    }
  }
}


.signUpBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  width: 295px;
  padding-top: 45px;

  input{
    padding: 1em;
    width: 210px;
    font-size: 15px;
    margin: 10px;
    border: none;
    background-color: #e8eaee;
  }

  div{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 100;
  }
}

.signUpButton{
  background-color: #333640;
  color: white;
  padding: 10px;
  width: 240px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.backButton{
  background-color: #333640;
  color: white;
  padding: 10px;
  width: 180px;
  font-size: 15px;
  font-weight: bold;
}

