.welcomeBox{
  display: flex;
  width: 590px;
  height: 350px;
  margin: auto;
  margin-top: 240px;
  justify-content: space-evenly;
  box-shadow: 3px 3px 10px 8px  #e0dbdb;
}

.side1{
  display: flex;
  text-align: center;
  background: #f62e54;
  color: white;
  img{
    width: 20px;
    height: 20px;
  }
  div{
    margin: 15px;
  }
}

.signUpBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  width: 295px;

  input{
    padding: 1em;
    width: 210px;
    font-size: 15px;
    margin: 10px;
    border: none;
    background-color: #e8eaee;
  }

  div{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 100;
  }
}

.signUpButton{
  background-color: #333640;
  color: white;
  padding: 10px;
  width: 240px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1px;
}

.backButton{
  background-color: #333640;
  color: white;
  padding: 10px;
  width: 180px;
  font-size: 15px;
  font-weight: bold;
}

