.editProfileBox{
  display: flex;
  flex-direction: column;
}

.editProfileBox > input{
  border: 1px solid #4d94ff;  ;
  margin: 10px;
  border-radius: 5px;
  padding: 1em;
  font-size: 20px;
}

.editProfileBox  button{
  margin: 5px;
  padding: 10px;
  font-size: 25px;
 
}