.startDebateContainer{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  
  .redSide{
    width: 50%;
    height: 100vh;
    background-color:  #f62e54; 
  }

  .whiteSide{
    width: 50%;
    height:100vh;
    background-color: #eeeeee;
  }
}

.submissionBox{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  padding-top: 2em;
  margin-top: 140px;
    >input{
      margin: 20px;
      border: none;
      font-size: 15px;
      padding: 15px;
    }
    >button{
      margin: auto;
      background-color: #333640;
      color: white;
      padding: 15px;
      width: 650px;
      font-size: 20px;
      font-weight: bold;
      border: none;
    }
    >button:hover{
      color:#333640;
      background-color: #eeeeee;
    }
    .box1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      >img{
        height: 25px;
      }
      
    }
    .box2{
      display:flex;
      flex-direction: column;
      >input{
        margin: 20px;
        border: none;
        width: 250px;
        font-size: 15px;
        padding: 15px;
      }
    }
    
    .box3{
      display:flex;
      flex-direction: column;
      >input{
        margin: 20px;
        border: none;
        width: 250px;
        font-size: 15px;
        padding: 15px;
      }
    }
}




