.commentTile{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  width: 480px;
  word-break: break-all;
  padding: 3px;

  .commentMessage{
    font-size: 17px;
  }
  .commentPoster{
    font-size: 13px;
  }
}

